<style>
   /* Estilo para el contenedor con un borde redondenado */
   .rounded-5 {
      border-radius: 2rem;
   }
</style>
<!-- Contenedor que adjunta toda la información sobre la bienvenida del usuario al sistema por haberse unido -->
<div class="container mt-5">
   <div class="row justify-content-center">
      <div class="col-12 col-md-10">
         <div class="shadow-lg rounded-5 p-3 text-center">
            <div class="mt-2" *ngIf="user$ | async as user">
               <h1 class="fs-3 fw-bold">
                  <span>
                     <!-- Mensaje de bievenida con el correo -->
                     Hola, usuario <strong>{{ user.email }}</strong>
                  </span>
               </h1>
               <div class="card-body">
                  <div class="">
                     <p class="fs-5 fw-bold">
                        <!-- Información adicional. Invitación a ver el manual de usuario si no se conoce el sistema. -->
                        En breve, podrás navegar y gestionar todo el sistema.
                     </p>
                     <p class="text-secondary">
                        Antes de empezar, te sugerimos que veas el <strong>Manual de usuario.</strong>
                     </p>
                  </div>
               </div>
            </div>
            <!-- Botontes de ayuda -->
            <div *ngIf="user$ | async as user">
               <div class="wrap">
                  <button [routerLink]="['/validarInformacion/', user.uid]" class="button">Comienza ahora</button>
                </div>
            </div>
         </div>
   </div>
</div>

<div class="branch"></div>
<div class="branch"></div>
<div class="branch"></div>
<div class="branch"></div>
<div class="branch"></div>
<div class="branch"></div>