html {
	background-image:linear-gradient(#369, #fff);
	height:100%;
  }
  
  .branch {
	animation:sway 5s infinite linear alternate;
	border-bottom:none;
	border-left:solid 6px #060;
	border-right:none;
	border-top:none;
	border-top-left-radius:100%;
	bottom:0;
	height:200px;
	left:25%;
	position:absolute;
	transform-origin:bottom;
	width:50px;
  }
  
  .branch:nth-child(2) {
	border-width:6px;
	height:300px;
  }
  
  .branch:nth-child(3) {
	border-color:#070;
	border-width:12px;
	height:400px;
  }
  
  .branch:nth-child(4) {
	animation:sway 5s infinite linear alternate-reverse;
	border-left:none;
	border-right:solid 12px #070;
	border-top-right-radius:100%;
	height:350px;
	left:auto;
	right:74%;
  }
  
  .branch:nth-child(5) {
	animation:sway 5s infinite linear alternate-reverse;
	border-left:none;
	border-right:solid 9px #060;
	border-top-right-radius:100%;
	height:250px;
	left:auto;
	right:75%;
  }
  
  .branch:nth-child(6) {
	animation:sway 5s infinite linear alternate-reverse;
	border-left:none;
	border-right:solid 6px #050;
	border-top-right-radius:100%;
	height:150px;
	left:auto;
	right:75%;
  }
  
  @keyframes sway {
	0% {
	  width:50px;
	}
	100% {
	  width:300px;
	}
  } 
 
 .wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .button {
	min-width: 300px;
	min-height: 60px;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 700;
	color: #313133;
	background: #a4fff6;
	background: linear-gradient(90deg, #8dfff0 0%, rgb(13 80 73 / 92%) 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px rgba(79,209,197,.64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
	}
  
  button::before {
  content: '';
	border-radius: 1000px;
	min-width: calc(300px + 12px);
	min-height: calc(60px + 12px);
	border: 2px solid #00FFCB;
	box-shadow: 0 0 60px rgba(0,255,203,.64);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
	color: #313133;
	transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
	opacity: 1;
  }
  
  button::after {
	content: '';
	width: 30px; height: 30px;
	border-radius: 100%;
	border: 6px solid #00FFCB;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
	animation: none;
	display: none;
  }
  
  @keyframes ring {
	0% {
	  width: 30px;
	  height: 30px;
	  opacity: 1;
	}
	100% {
	  width: 300px;
	  height: 300px;
	  opacity: 0;
	}
  }