<div class="container">
  <app-tipo-grafica-humedad></app-tipo-grafica-humedad>
  <app-tipo-bar-humedad></app-tipo-bar-humedad>
  <app-real-time></app-real-time>
  <div>
    <div>
      <div style="display: block" *ngIf="barChartData" >
        <canvas id="grafica" baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="chartColors">
      </canvas>
    </div> <img src="" alt="">
  </div>
  <button type="button" class="btn btn-light" (click)="print()"><i class="fas fa-paint-brush mr-2"></i>Descargar grafica</button>
  <button type="button" class="btn btn-info float-left mr-3" (click)="printGrafica()"><i class="fas fa-print mr-2 text-dark"></i>Descargar informe</button>
  <button type="button" class="btn btn-light float-left mr-3" [routerLink]="['/datosHumedad']"><img class="mr-2" src="../../../../assets/imagenes/ojo.png" width="25px">Ver datos</button>
  <button type="button" class="btn btn-dark float-right" [routerLink]="['/home']"><i class="fas fa-chevron-left mr-2"></i>Volver</button>
  </div>
  </div>