<div class="dropdown mt-3 ml-3 d-inline-block">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
      Tipo De Bar
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" [routerLink]="['/graficaHorizontalH']" [routerLinkActive]="['active']">Horizontal</a></li>
      <li><a class="dropdown-item" [routerLink]="['/graficaBarrasH']" [routerLinkActive]="['active']">Barra</a></li>
    </ul>
</div>