<!-- =========================================================================================== -->
<!-- Esta vista, en conjunto con el *ngIf es para el usuario logueado o que ya inició sesión, sino ha iniciado
no será mostrada esta vista -->
<div class="container-fluid mt-3" *ngIf="user$ | async as user; else home">
    <div class="row">
        <div class="col-12 text-center">
            <!-- Esta fila es para los componentes del Vivero, estos son el nombre, su presentación y su valor, el ejemplo del primero es
            nombre: tanque, presentación: imagen de un tanque, valor: porcentaje del contenido dentro del tanque, así mismo con Válvula,
            batería y panel -->
            <div class="row justify-content-center">
                <!-- ============================================================ -->
                <div class="col-6 col-sm-auto col-md-1 py-2">
                    <div>
                        <!-- Tanque es un componente del sistema, es el que almacena el agua que utiliza el sistema de riego para regar las plantas cuando el sistema automatizado inicie a funcionar. -->
                        <h1 class="fs-5">
                            Tanque
                        </h1>
                    </div>
                    <!-- El icono que representa o ilustra el tanque. -->
                    <div>
                        <img src="../../../assets/imagenes/deposito-de-agua.png" width="50px">
                    </div>
                    <!-- Esta parte es para mostrar dos estados del tanque, cuando se está llenando el tanque y cuando no se está llenando, es decir, su porcentaje en cuanto al contenido del tanque. -->
                    <div>
                        <!-- Este fragmento de código indica el porcentaje en relación al contenido del tanque y se muestra como texto en pantalla. -->
                        <span *ngIf="tanqueAgua=='50%' || tanqueAgua=='60%'" class="text-danger">
                            {{tanqueAgua}}
                        </span>
                        <!-- Este fragmento de código indica que se está llenando el tanque, es decir, que está recibiendo agua dentro y que se está llenando, esto se muestra como un texto en pantalla. -->
                        <span *ngIf="tanqueAgua=='Llenando...'" class="text-success">
                            {{tanqueAgua}}
                        </span>
                    </div>
                </div>
                <!-- ============================================================ -->
                <div class="col-6 col-sm-auto col-md-1 py-2">
                    <div>
                        <!-- Válvula es un componente del sistema, es el que a través de la válvula, pasa el agua que utiliza el sistema de riego para regar las plantas cuando el sistema automatizado inicie a funcionar. -->
                        <h1 class="fs-5">
                            Válvula
                        </h1>
                    </div>
                    <!-- El icono que representa o ilustra la válvula. -->
                    <div>
                        <img src="../../../assets/imagenes/gas.png" width="50px">
                    </div>
                    <!-- Esta parte es para mostrar dos estados de la válvula, cuando se está apagada la válvula y cuando está activada. -->
                    <div>
                        <!-- Este fragmento de código indica el estado, es decir, apagado y este se muestra como un texto en pantalla. -->
                        <span *ngIf="valvula=='Apagado'" class="text-danger">
                            {{valvula}}
                        </span>
                        <!-- Este fragmento de código indica el estado, es decir, activado y este se muestra como un texto en pantalla. -->
                        <span *ngIf="valvula=='Activado'" class="text-success">
                            {{valvula}}
                        </span>
                    </div>
                </div>
                <!-- ============================================================ -->
                <div class="col-6 col-sm-auto col-md-1 py-2">
                    <div>
                        <!-- Batería es un componente del sistema, que a través de la batería, es que el sistema, como el riego automatizado, sensores y demás objetos que hacen parte del vivero funcionen y este se complementa con el panel solar. -->
                        <h1 class="fs-5">
                            Batería
                        </h1>
                    </div>
                    <!-- El icono que representa o ilustra la batería. -->
                    <div>
                        <img src="../../../assets/imagenes/energia.png" width="50px">
                    </div>
                    <!-- Esta parte es para mostrar dos estados de la batería, cuando se está apagada la batería y cuando está activada. -->
                    <div>
                        <!-- Este fragmento de código indica el estado, es decir, apagado y este se muestra como un texto en pantalla. -->
                        <span *ngIf="bateria=='Apagado'" class="text-danger">
                            {{bateria}}
                        </span>
                        <!-- Este fragmento de código indica el estado, es decir, activado y este se muestra como un texto en pantalla. -->
                        <span *ngIf="bateria=='Activado'" class="text-success">
                            {{bateria}}
                        </span>
                    </div>
                </div>
                <!-- ============================================================ -->
                <div class="col-6 col-sm-auto col-md-1 py-2">
                    <div>
                        <!-- Panel es un componente del sistema, que conjuntamente con la batería, es que el sistema, como el riego automatizado, sensores y demás objetos que hacen parte del vivero funcionen, el panel recibe la energía que el sol provee y esta energía es almacenada en la batería. -->
                        <h1 class="fs-5">
                            Panel
                        </h1>
                    </div>
                    <!-- El icono que representa o ilustra el panel. -->
                    <div>
                        <img src="../../../assets/imagenes/poder.png" width="50px">
                    </div>
                    <!-- Esta parte es para mostrar dos estados del panel, cuando se está apagado el panel y cuando está activado. -->
                    <div>
                        <!-- Este fragmento de código indica el estado, es decir, apagado y este se muestra como un texto en pantalla. -->
                        <span *ngIf="panel=='Apagado'" class="text-danger">
                            {{panel}}
                        </span>
                        <!-- Este fragmento de código indica el estado, es decir, conectado y este se muestra como un texto en pantalla. -->
                        <span *ngIf="panel=='Conectado'" class="text-success">
                            {{panel}}
                        </span>
                    </div>
                </div>
                <div class="col-6 col-sm-auto py-2">
                    <div>
                        <!-- Lluvia es un componente del sistema, que conjuntamente con el tanque, cuando esté lloviendo, el estado del tanque cambia, porque de la lluvia es que el tanque se llena. -->
                        <h1 class="fs-5">
                            Lluvia
                        </h1>
                    </div>
                    <!-- El icono que representa o ilustra la lluvia. -->
                    <div>
                        <img src="../../assets/imagenes/raining.png" width="50px">
                    </div>
                    <!-- Esta parte es para mostrar dos estados de la lluvia, cuando está lloviendo y cuando no está lloviendo. -->
                    <div>
                        <!-- Este fragmento de código indica el estado, es decir, no está lloviendo y se muestra como un texto en pantalla. -->
                        <span *ngIf="lluvia=='No'" class="text-danger">
                            {{estadoLluvia}}
                        </span>
                        <!-- Este fragmento de código indica el estado, es decir, está lloviendo y se muestra como un texto en pantalla. -->
                        <span *ngIf="lluvia=='Si'" class="text-success">
                            {{estadoLluvia}}
                        </span>
                    </div>
                </div>
                <!-- ============================================================ -->
            </div>
        </div>
        <!-- =========================================================================================== -->
        <div class="col-12 mt-2 text-center">
            <!-- En este contenedor se tienen los dos botones que no son funcionales, son solo estáticos pero es con el fin de mostrar
            lo que el Vivero puede hacer -->
            <div>
                <!-- El primer botón es para detener automáticamente el riego a las plantas, por si ocurre un problema o simplemente por decisión -->
                <button (click)="desactivarSistema()" class="btn btn-danger btn-sm px-4 rounded-pill mx-1"
                    type="button">
                    Stop
                </button>
                <!-- El segundo botón es para cortar la corriente que está bien sea por corriente local o solar a través de un panel -->
                <button *ngIf="sistema==false" (click)="activarSistema()" class="btn btn-info btn-sm px-4 rounded-pill mx-1" type="button">
                    Corriente
                </button>
                <button *ngIf="sistema==true" (click)="activarSistema()" class="btn btn-warning btn-sm px-4 rounded-pill mx-1" type="button">
                    Encendido
                </button>
            </div>
        </div>
        <!-- ============================================================ -->
        <hr class="my-2 w-75 mx-auto">
        <!-- ============================================================ -->
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-12">
                    <!-- Título de la sección de las líneas de riego -->
                    <h1 class="fs-2 fw-bold">
                        Líneas de riego
                    </h1>
                </div>
            </div>
        </div>
        <!-- ============================================================ -->
        <div class="col-12 mt-2 mb-5">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Esta fila contiene las cuatro columnas que tienen la información que puede ser mostrada en un sistema automatizado
                    Por ejemplo, la primera columna tiene el indicador al que pertenece que es Línea 1, su estado, apagado o encendido, temperatura, humedad y tres botones
                - El primer botón es para activar o desactivar la línea, esto habilita los datos que pertenecen a la línea y los otros dos botones.
                - El segundo botón es para mostras las estadísitcas de humedad, eso es gracias a los sensores de humedad que pertenecen a la línea.
                - El tercer botón es para mostrar las estadísitcas de temperatura, eso es gracias a los sensores de temperatura que pertenecen a la línea. -->
                    <div class="row g-5">
                        <!-- ============================================================ -->
                        <div class="col-6 col-md-3">
                            <div class="p-3 shadow-lg rounded-5" style="height: auto;">
                                <div>
                                    <h1 class="fs-5">
                                        <!-- Referencia de la línea, indica que esta es la primera línea entre todas las demás -->
                                        Línea 1
                                    </h1>
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            <!-- Referencia de actividad, en esta fila se muestra el estado que puede tener la línea, sea activado o desactivado -->
                                            Estado
                                        </span>
                                    </div>
                                    <div>
                                        <!-- Por diseño se implementan iconos para indicar a modo gráfico la información, en
                                        este caso es de un icono de "turn off" que es la presentación de "apagado" -->
                                        <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">
                                    </div>
                                    <!-- En este espacio se indica el estado de cada línea utilizando el ngIf para validar el estado. -->
                                    <div>
                                        <!-- En este fragmento se muestra en pantalla un texto que indica el estado de la línea, es decir "Apagado" -->
                                        <span *ngIf="estado1==false" class="text-danger">
                                            Apagada
                                        </span>
                                        <!-- En este fragmento se muestra en pantalla un texto que indica el estado de la línea, es decir "Activado" -->
                                        <span *ngIf="estado1==true" class="text-success">
                                            Activada
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <!-- Separación entre filas -->
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            <!-- Sección dato de temperatura. Se muestra con un dato la temperatura de la línea a la que pertenece. -->
                                            Temperatura
                                        </span>
                                    </div>
                                    <div>
                                        <!-- Por diseño se implementan iconos para indicar a modo gráfico la información, en este caso es de un icono de "temperatura". -->
                                        <img src="../../../assets/imagenes/caliente.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            <!-- Variable que almacena este dato de la temperatura y es mostrado en pantalla como un número -->
                                            {{temperatura1}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <!-- Separación entre filas -->
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            <!-- Sección dato de humedad. Se muestra con un dato la humedad de la línea a la que pertenece -->
                                            Humedad
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/humedad.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            <!-- Variable que almacena este dato de la humedad y es mostrado en pantalla como un número -->
                                            {{humedad1}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <!-- Separación entre filas -->
                                    <hr class="text-secondary">
                                </div>
                                <!-- Acciones. En esta sección se muestran diferentes secciones las cuales pertenecen a cada una de las líneas, esto para tener más control. -->
                                <div>
                                    <!-- Botón activar. Este botón activa la línea, su función es poner en marcha la línea mostrando sus datos correspondientes. -->
                                    <button *ngIf="estado1==false" (click)="activarLinea1()"
                                        class="btn btn-primary btn-sm w-100 rounded-pill mb-2">
                                        Activar
                                    </button>
                                    <!-- Botón desactivar. Este botón desactiva la línea, su función es detener el estado activo a inactivo en conjunto con sus datos correspondientes. -->
                                    <button *ngIf="estado1==true" (click)="desactivarLinea1()"
                                        class="btn btn-warning btn-sm w-100 rounded-pill mb-2">
                                        Desactivar
                                    </button>
                                </div>
                                <!-- Datos de temperatura y humedad (Estadísticas/gráficas) -->
                                <div class="my-1">
                                    <!-- Botón estadísticas humedad. Este botón muestra los datos que el sensor humedad almacena en la base de datos. -->
                                    <button (click)="validarEstadisticasH1()"
                                        class="btn btn-info btn-sm w-100 rounded-pill mb-2">
                                        Estadísticas: humedad
                                    </button>
                                    <!-- Botón estadísticas temperatura. Este botón muestra los datos que el sensor temperatura almacena en la base de datos. -->
                                    <button (click)="validarEstadisticasT1()"
                                        class="btn btn-danger btn-sm w-100 rounded-pill ">
                                        Estadísticas: temperatura
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================ -->
                        <!-- EN LAS DEMÁS LÍNEAS ES LO MISMO, PERO CON DIFERENTES VALORES, MISMA ICONOLOGÍA, MISMOS REFERENTES DE DATOS Y MISMAS FUNCIONES DE LOS BOTONES -->
                        <div class="col-6 col-md-3">
                            <div class="p-3 shadow-lg rounded-5" style="height: auto;">
                                <div>
                                    <h1 class="fs-5">
                                        Línea 2
                                    </h1>
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Estado
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">
                                    </div>
                                    <div>
                                        <span *ngIf="estado2==false" class="text-danger">
                                            Apagada
                                        </span>
                                        <span *ngIf="estado2==true" class="text-success">
                                            Encendida
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Temperatura
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/caliente.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{temperatura2}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Humedad
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/humedad.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{humedad2}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <button *ngIf="estado2==false" (click)="activarLinea2()"
                                        class="btn btn-primary btn-sm w-100 rounded-pill mb-2">
                                        Activar
                                    </button>

                                    <button *ngIf="estado2==true" (click)="desactivarLinea2()"
                                        class="btn btn-warning btn-sm w-100 rounded-pill mb-2">
                                        Desactivar
                                    </button>
                                </div>
                                <div class="my-1">
                                    <button (click)="validarEstadisticasH2()"
                                        class="btn btn-info btn-sm w-100 rounded-pill mb-2">
                                        Estadísticas: humedad
                                    </button>
                                    <button (click)="validarEstadisticasT2()"
                                        class="btn btn-danger btn-sm w-100 rounded-pill ">
                                        Estadísticas: temperatura
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================ -->
                        <div class="col-6 col-md-3">
                            <div class="p-3 shadow-lg rounded-5" style="height: auto;">
                                <div>
                                    <h1 class="fs-5">
                                        Línea 3
                                    </h1>
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Estado
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">
                                    </div>
                                    <div>
                                        <span *ngIf="estado3==false" class="text-danger">
                                            Apagada
                                        </span>
                                        <span *ngIf="estado3==true" class="text-success">
                                            Encendida
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Temperatura
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/caliente.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{temperatura3}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Humedad
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/humedad.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{humedad3}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <button *ngIf="estado3==false" (click)="activarLinea3()"
                                        class="btn btn-primary btn-sm w-100 rounded-pill mb-2">
                                        Activar
                                    </button>

                                    <button *ngIf="estado3==true" (click)="desactivarLinea3()"
                                        class="btn btn-warning btn-sm w-100 rounded-pill mb-2">
                                        Desactivar
                                    </button>
                                </div>
                                <div class="my-1">
                                    <button (click)="validarEstadisticasH3()"
                                        class="btn btn-info btn-sm w-100 rounded-pill mb-2">
                                        Estadísticas: humedad
                                    </button>
                                    <button (click)="validarEstadisticasT3()"
                                        class="btn btn-danger btn-sm w-100 rounded-pill ">
                                        Estadísticas: temperatura
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================ -->
                        <div class="col-6 col-md-3">
                            <div class="p-3 shadow-lg rounded-5" style="height: auto;">
                                <div>
                                    <h1 class="fs-5">
                                        Línea 4
                                    </h1>
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Estado
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">
                                    </div>
                                    <div>
                                        <span *ngIf="estado4==false" class="text-danger">
                                            Apagado
                                        </span>
                                        <span *ngIf="estado4==true" class="text-success">
                                            Encendida
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Temperatura
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/caliente.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{temperatura4}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Humedad
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/humedad.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{humedad4}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <button *ngIf="estado4==false" (click)="activarLinea4()"
                                        class="btn btn-primary btn-sm w-100 rounded-pill mb-2">
                                        Activar
                                    </button>

                                    <button *ngIf="estado4==true" (click)="desactivarLinea4()"
                                        class="btn btn-warning btn-sm w-100 rounded-pill mb-2">
                                        Desactivar
                                    </button>
                                </div>
                                <div class="my-1">
                                    <button (click)="validarEstadisticasH4()"
                                        class="btn btn-info btn-sm w-100 rounded-pill mb-2">
                                        Estadísticas: humedad
                                    </button>
                                    <button (click)="validarEstadisticasT4()"
                                        class="btn btn-danger btn-sm w-100 rounded-pill ">
                                        Estadísticas: temperatura
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================ -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================ -->
    </div>
</div>
<!-- =========================================================================================== -->
<!-- Si el usuario no está logueado (no ha iniciado sesión), esta será la interfaz que se muestra -->
<ng-template #home>
    <!-- Se usan estilos dentro del html por facilidad y comodidad del desarrollador, esto no genera malas prácticas ni tampoco errores -->
    <style>
        .rounded-5 {
            border-radius: 2rem;
        }

        .card-cover {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <!-- Contenedor de la página principal, con enlace a iniciar sesión, registrarse y servicios -->
    <main class="vh-100 text-center d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 shadow-lg rounded-5 p-5">
                    <!-- Se hace el llamado del logo de ViveRegistro en su versión obscura -->
                    <img src="../../assets/logo/logo-dark.svg" alt="Ejemplo de VR" style="width: 65px;">
                    <h1 class="display-6 fw-bold">
                        ¿Quieres controlar los datos de tus plantas?
                    </h1>
                    <p class="fs-4">
                        Regístrate y haz parte de esta y muchas mas funciones
                    </p>
                    <div class="mb-2">
                        <!-- Botón que tiene como ruta el login -->
                        <a class="btn btn-primary px-3 rounded-3 mx-1" routerLink="/login">
                            <span>
                                <img src="../../../assets/imagenes/iniciar-sesion.png" class="mr-1" alt="" width="20px">
                                Iniciar sesión
                            </span>
                        </a>
                        <!-- Botón que tiene como ruta el registro -->
                        <a class="btn btn-dark px-3 rounded-3 mx-1" routerLink="/register">
                            <span>
                                <img src="../../../assets/imagenes/registrarse.png" class="mr-1" alt="" width="20px">
                                Regístrate
                            </span>
                        </a>
                    </div>
                    <div class="mt-4">
                        <a class="text-primary" href="/home#services">
                            Servicios
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="vh-auto text-center d-flex justify-content-center align-items-center"
        style="background-color: #151516;" id="services">
        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-12 text-white p-5">
                    <!-- Se hace el llamado del logo de ViveRegistro en su versión blanco -->
                    <img src="../../assets/logo/logo-light.svg" alt="Ejemplo de VR" style="width: 35px;">
                    <h1 class="display-5 fw-bold">
                        Servicios
                    </h1>
                    <p class="fs-5 text-secondary">
                        Un buen manejo de los datos de tus plantas puede ser de ayuda.
                    </p>
                </div>
            </div>
            <!-- Fila de servicios que ViveRegistro presta a sus usuarios -->
            <div class="row g-3">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="p-4 card-cover d-flex align-items-center justify-content-center text-white shadow-lg bg-info rounded-5"
                        style="background-image: url('../../assets/images/services/s1.png'); height: 270px;">
                        <div class="">
                            <h1 class="display-6 fw-bold">
                                Controla la temperatura
                            </h1>
                            <span class="fs-6">
                                A medida que vaya subiendo la temperatura de tus plantas, se te avisará
                                para reducirla y apasiguar el calor.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="p-4 card-cover d-flex align-items-center justify-content-center text-white shadow-lg bg-info rounded-5"
                        style="background-image: url('../../assets/images/services/s2.png'); height: 270px;">
                        <div class="">
                            <h1 class="display-6 fw-bold">
                                Genera empleo
                            </h1>
                            <span class="fs-6">
                                Con esta plataforma puedes registrar usuarios para que puedan ejercer su
                                labor como jardineros dentro de su sistema.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="p-4 card-cover d-flex align-items-center justify-content-center text-white shadow-lg bg-info rounded-5"
                        style="background-image: url('../../assets/images/services/s3.png'); height: 270px;">
                        <div class="">
                            <h1 class="display-6 fw-bold">
                                Alto rendimiento
                            </h1>
                            <span class="fs-6">
                                Este aplicativo se usa en la web con el fin de que no tengas que
                                descargar nada y dando buena experiencia al usarlo.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pie de página, sección donde se describen las caracterísitcas, rutas y tecnologías que tiene ViveRegistro -->
    <footer>
        <div class="text-center rounded-0" style="background-color: #151516;">
            <div class="text-white bg-transparent">
                Características
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 my-3">
                                <ul class="text-start text-white">
                                    <li class="list-unstyled">
                                        <span class="fs-5 fw-bold">
                                            Tecnologías
                                        </span>
                                    </li>
                                    <hr class="w-50">
                                    <li>
                                        Angular
                                    </li>
                                    <li>
                                        Firebase
                                    </li>
                                    <li>
                                        MySQL
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 my-3">
                                <ul class="text-start text-white">
                                    <li class="list-unstyled">
                                        <span class="fs-5 fw-bold">
                                            Rutas
                                        </span>
                                    </li>
                                    <hr class="w-50">
                                    <li>
                                        <a class="text-white" routerLink="/home">
                                            Inicio
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-white" routerLink="/login">
                                            Iniciar sesión
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-white" routerLink="/register">
                                            Registrarse
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 my-3">
                                <ul class="text-start text-white">
                                    <li class="list-unstyled">
                                        <span class="fs-5 fw-bold">
                                            Contacto
                                        </span>
                                    </li>
                                    <hr class="w-50">
                                    <li>
                                        viveregistro.contacto@gmail.com
                                    </li>
                                    <li>
                                        01800045561499
                                    </li>
                                    <li>
                                        Medellín, Colombia
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Derechos de autor, el símbolo &copy; es la representación del icono de copyright -->
            <div class="card-footer text-muted">
                &copy; 2021 todo los derechos reservados.
            </div>
        </div>
    </footer>

</ng-template>