<!-- =========================================================================================== -->
<!-- Esta vista, en conjunto con el *ngIf es para el usuario logueado o que ya inició sesión, sino ha iniciado
no será mostrada esta vista -->
<div class="container-fluid mt-3" *ngIf="user$ | async as user; else home">
    <div class="row">
        <div class="col-12 text-center">
            <!-- Esta fila es para los componentes del Vivero, estos son el nombre, su presentación y su valor, el ejemplo del primero es
            nombre: tanque, presentación: imagen de un tanque, valor: porcentaje del contenido dentro del tanque, así mismo con Válvula,
            batería y panel -->
            <div class="row justify-content-center">
                <!-- ============================================================ -->
                <div class="col-6 col-sm-auto col-md-1 py-2">
                    <div>
                        <h1 class="fs-5">
                            Tanque
                        </h1>
                    </div>
                    <div>
                        <img src="../../../assets/imagenes/deposito-de-agua.png" width="50px">
                    </div>
                    <div>
                        <span *ngIf="tanqueAgua=='50%' || tanqueAgua=='60%'" class="text-danger">
                            {{tanqueAgua}}
                        </span>
                        <span *ngIf="tanqueAgua=='Llenando...'" class="text-success">
                            {{tanqueAgua}}
                        </span>
                    </div>
                </div>
                <!-- ============================================================ -->
                <div class="col-6 col-sm-auto col-md-1 py-2">
                    <div>
                        <h1 class="fs-5">
                            Válvula
                        </h1>
                    </div>
                    <div>
                        <img src="../../../assets/imagenes/gas.png" width="50px">
                    </div>
                    <div>
                        <span *ngIf="valvula=='Apagado'" class="text-danger">
                            {{valvula}}
                        </span>
                        <span *ngIf="valvula=='Activado'" class="text-success">
                            {{valvula}}
                        </span>
                    </div>
                </div>
                <!-- ============================================================ -->
                <div class="col-6 col-sm-auto col-md-1 py-2">
                    <div>
                        <h1 class="fs-5">
                            Batería
                        </h1>
                    </div>
                    <div>
                        <img src="../../../assets/imagenes/energia.png" width="50px">
                    </div>
                    <div>
                        <span *ngIf="bateria=='Apagado'" class="text-danger">
                            {{bateria}}
                        </span>
                        <span *ngIf="bateria=='Activado'" class="text-success">
                            {{bateria}}
                        </span>
                    </div>
                </div>
                <!-- ============================================================ -->
                <div class="col-6 col-sm-auto col-md-1 py-2">
                    <div>
                        <h1 class="fs-5">
                            Panel
                        </h1>
                    </div>
                    <div>
                        <img src="../../../assets/imagenes/poder.png" width="50px">
                    </div>
                    <div>
                        <span *ngIf="panel=='Apagado'" class="text-danger">
                            {{panel}}
                        </span>
                        <span *ngIf="panel=='Conectado'" class="text-success">
                            {{panel}}
                        </span>
                    </div>
                </div>
                <div class="col-6 col-sm-auto py-2">
                    <div>
                        <h1 class="fs-5">
                            Lluvia
                        </h1>
                    </div>
                    <div>
                        <img src="../../assets/imagenes/raining.png" width="50px">
                    </div>
                    <div>
                        <span *ngIf="lluvia=='No'" class="text-danger">
                            {{estadoLluvia}}
                        </span>
                        <span *ngIf="lluvia=='Si'" class="text-success">
                            {{estadoLluvia}}
                        </span>
                    </div>
                </div>
                <!-- ============================================================ -->
            </div>
        </div>
        <!-- =========================================================================================== -->
        <div class="col-12 mt-2 text-center">
            <!-- En este contenedor se tienen los dos botones que no son funcionales, son solo estáticos pero es con el fin de mostrar
            lo que el Vivero puede hacer -->
            <div>
                <!-- El primer botón es para detener automáticamente el riego a las plantas, por si ocurre un problema o simplemente por decisión -->
                <button (click)="desactivarSistema()" class="btn btn-danger btn-sm px-4 rounded-pill mx-1"
                    type="button">
                    Stop
                </button>
                <!-- El segundo botón es para cortar la corriente que está bien sea por corriente local o solar a través de un panel -->
                <button (click)="activarSistema()" class="btn btn-info btn-sm px-4 rounded-pill mx-1" type="button">
                    Corriente
                </button>
            </div>
        </div>
        <!-- ============================================================ -->
        <hr class="my-2 w-75 mx-auto">
        <!-- ============================================================ -->
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-12">
                    <!-- Título de la sección de las líneas de riego -->
                    <h1 class="fs-2 fw-bold">
                        Líneas de riego
                    </h1>
                </div>
            </div>
        </div>
        <!-- ============================================================ -->
        <div class="col-12 mt-2 mb-5">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Esta fila contiene las cuatro columnas que tienen la información que puede ser mostrada en un sistema automatizado
                    Por ejemplo, la primera columna tiene el nombre de la línea que es Línea 1, su estado, apagado o encendido, temperatura,
                    humedad y dos botones, el primero que es activar es para encender o poner en marcha esa línea de riego y el botón de las
                    estadísticas es para mostrar sus datos en una gráfica, todo esto es igual para las demás líneas de riego -->
                    <div class="row g-5">
                        <!-- ============================================================ -->
                        <div class="col-6 col-md-3">
                            <div class="p-3 shadow-lg rounded-5" style="height: auto;">
                                <div>
                                    <h1 class="fs-5">
                                        <!-- Indicador de la línea -->
                                        Línea 1
                                    </h1>
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            <!-- Referencia de actividad -->
                                            Estado
                                        </span>
                                    </div>
                                    <div>
                                        <!-- Por diseño se implementan iconos para indicar de modo gráfico la información, en
                                        este caso es de un icono de "turn off" -->
                                        <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">
                                    </div>
                                    <div>
                                        <!-- En este espacio se indica el estado de cada línea utilizando el ngIf para
                                        validar el estado, si es apagado que muestre un texto, si es activado que
                                        muestre un texto -->
                                        <span *ngIf="estado1=='Apagado'" class="text-danger">
                                            {{estado1}}
                                        </span>
                                        <span *ngIf="estado1=='Activado'" class="text-success">
                                            {{estado1}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            <!-- Sección de dato temperatura. Se muestra con un dato la temperatura de la línea a la que pertenece -->
                                            Temperatura
                                        </span>
                                    </div>
                                    <div>
                                        <!-- Icono de temperatura -->
                                        <img src="../../../assets/imagenes/caliente.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            <!-- Dato de la temperatura -->
                                            {{temperatura1}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            <!-- Sección de dato humedad. Se muestra con un dato la temperatura de la línea a la que pertenece -->
                                            Humedad
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/humedad.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            <!-- Dato de la humedad -->
                                            {{humedad1}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <!-- Acciones. En esta sección se muestran diferentes secciones las cuales pertenecen a cada una de las líneas, esto para tener más control. -->
                                <div>
                                    <!-- Botón activar. Este botón activa la línea, su función es poner en marcha la línea mostrando sus datos correspondientes. -->
                                    <button *ngIf="estado1=='Apagado'" (click)="activarLinea1()"
                                        class="btn btn-primary btn-sm w-100 rounded-pill mb-2">
                                        Activar
                                    </button>
                                    <!-- Botón desactivar. Este botón desactiva la línea, su función es detener el estado activo a inactivo en conjunto con sus datos correspondientes. -->
                                    <button *ngIf="estado1=='Activado'" (click)="desactivarLinea1()"
                                        class="btn btn-warning btn-sm w-100 rounded-pill mb-2">
                                        Desactivar
                                    </button>
                                </div>
                                <!-- Datos de temperatura y humedad (Estadísticas/gráficas) -->
                                <div class="my-1">
                                    <!-- Botón estadísticas humedad. Este botón muestra los datos que el sensor humedad almacena en la base de datos. -->
                                    <button (click)="validarEstadisticasH1()"
                                        class="btn btn-info btn-sm w-100 rounded-pill mb-2">
                                        Estadísticas: humedad
                                    </button>
                                    <!-- Botón estadísticas temperatura. Este botón muestra los datos que el sensor temperatura almacena en la base de datos. -->
                                    <button (click)="validarEstadisticasT1()"
                                        class="btn btn-danger btn-sm w-100 rounded-pill ">
                                        Estadísticas: temperatura
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================ -->
                        <!-- EN LAS DEMÁS LÍNEAS ES LO MISMO, PERO CON DIFERENTES VALORES, MISMA ICONOLOGÍA, MISMOS REFERENTES DE DATOS Y MISMAS FUNCIONES DE LOS BOTONES -->
                        <div class="col-6 col-md-3">
                            <div class="p-3 shadow-lg rounded-5" style="height: auto;">
                                <div>
                                    <h1 class="fs-5">
                                        Línea 2
                                    </h1>
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Estado
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">
                                    </div>
                                    <div>
                                        <span *ngIf="estado2=='Apagado'" class="text-danger">
                                            {{estado2}}
                                        </span>
                                        <span *ngIf="estado2=='Activado'" class="text-success">
                                            {{estado2}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Temperatura
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/caliente.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{temperatura2}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Humedad
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/humedad.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{humedad2}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <button *ngIf="estado2=='Apagado'" (click)="activarLinea2()"
                                        class="btn btn-primary btn-sm w-100 rounded-pill mb-2">
                                        Activar
                                    </button>

                                    <button *ngIf="estado2=='Activado'" (click)="desactivarLinea2()"
                                        class="btn btn-warning btn-sm w-100 rounded-pill mb-2">
                                        Desactivar
                                    </button>
                                </div>
                                <div class="my-1">
                                    <button (click)="validarEstadisticasH2()"
                                        class="btn btn-info btn-sm w-100 rounded-pill mb-2">
                                        Estadísticas: humedad
                                    </button>
                                    <button (click)="validarEstadisticasT2()"
                                        class="btn btn-danger btn-sm w-100 rounded-pill ">
                                        Estadísticas: temperatura
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================ -->
                        <div class="col-6 col-md-3">
                            <div class="p-3 shadow-lg rounded-5" style="height: auto;">
                                <div>
                                    <h1 class="fs-5">
                                        Línea 3
                                    </h1>
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Estado
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">
                                    </div>
                                    <div>
                                        <span *ngIf="estado3=='Apagado'" class="text-danger">
                                            {{estado3}}
                                        </span>
                                        <span *ngIf="estado3=='Activado'" class="text-success">
                                            {{estado3}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Temperatura
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/caliente.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{temperatura3}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Humedad
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/humedad.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{humedad3}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <button *ngIf="estado3=='Apagado'" (click)="activarLinea3()"
                                        class="btn btn-primary btn-sm w-100 rounded-pill mb-2">
                                        Activar
                                    </button>

                                    <button *ngIf="estado3=='Activado'" (click)="desactivarLinea3()"
                                        class="btn btn-warning btn-sm w-100 rounded-pill mb-2">
                                        Desactivar
                                    </button>
                                </div>
                                <div class="my-1">
                                    <button (click)="validarEstadisticasH3()"
                                        class="btn btn-info btn-sm w-100 rounded-pill mb-2">
                                        Estadísticas: humedad
                                    </button>
                                    <button (click)="validarEstadisticasT3()"
                                        class="btn btn-danger btn-sm w-100 rounded-pill ">
                                        Estadísticas: temperatura
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================ -->
                        <div class="col-6 col-md-3">
                            <div class="p-3 shadow-lg rounded-5" style="height: auto;">
                                <div>
                                    <h1 class="fs-5">
                                        Línea 4
                                    </h1>
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Estado
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">
                                    </div>
                                    <div>
                                        <span *ngIf="estado4=='Apagado'" class="text-danger">
                                            {{estado4}}
                                        </span>
                                        <span *ngIf="estado4=='Activado'" class="text-success">
                                            {{estado4}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Temperatura
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/caliente.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{temperatura4}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <div>
                                        <span>
                                            Humedad
                                        </span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/imagenes/humedad.png" width="40px">
                                    </div>
                                    <div>
                                        <span>
                                            {{humedad4}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="text-secondary">
                                </div>
                                <div>
                                    <button *ngIf="estado4=='Apagado'" (click)="activarLinea4()"
                                        class="btn btn-primary btn-sm w-100 rounded-pill mb-2">
                                        Activar
                                    </button>

                                    <button *ngIf="estado4=='Activado'" (click)="desactivarLinea4()"
                                        class="btn btn-warning btn-sm w-100 rounded-pill mb-2">
                                        Desactivar
                                    </button>
                                </div>
                                <div class="my-1">
                                    <button (click)="validarEstadisticasH4()"
                                        class="btn btn-info btn-sm w-100 rounded-pill mb-2">
                                        Estadísticas: humedad
                                    </button>
                                    <button (click)="validarEstadisticasT4()"
                                        class="btn btn-danger btn-sm w-100 rounded-pill ">
                                        Estadísticas: temperatura
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================ -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================ -->
    </div>
</div>
<!-- =========================================================================================== -->







<!-- <div class="container-fluid mt-5" *ngIf="user$ | async as user; else home">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-3 border">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4>Información</h4>
                        </div>
                        <div class="col-12 mt-3 text-center border-bottom">
                            <h4>Tanque</h4>
                            <img src="../public/img/deposito-de-agua.png" alt="" width="50px">
                            <img src="../../../assets/imagenes/deposito-de-agua.png" width="50px">

                            <p>97%</p>
                        </div>
                        <div class="col-12 mt-3 text-center border-bottom">
                            <h4>Válvula</h4>
                            <img src="../public/img/gas.png" alt="" width="50px">
                            <img src="../../../assets/imagenes/gas.png" width="50px">
                            <p class="text-success">Encendida</p>
                        </div>
                        <div class="col-12 mt-3 text-center border-bottom">
                            <h4>Energía</h4>
                            <img src="../public/img/energia.png" alt="" width="50px">
                            <img src="../../../assets/imagenes/energia.png" width="50px">

                            <p class="text-success">Encendida</p>
                        </div>
                        <div class="col-12 mt-3 text-center border-bottom">
                            <h4>Pánel solar</h4>
                            <img src="../public/img/poder.png" alt="" width="50px">
                            <img src="../../../assets/imagenes/poder.png" width="50px">

                            <p class="text-success">Encendida</p>
                        </div>
                        <div class="col-12 mt-3 text-center mb-2">
                            <div class="row">
                                <div class="col-12">
                                    <a class="btn btn-danger">Off</a>
                                    <a class="btn btn-info">Corriente</a>
                                    <a class="btn btn-danger">Stop</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9 border">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4>Estado de las líneas de riego</h4>
                            <hr>
                        </div>
                        <div class="col-3 mt-3 text-center border-right">
                            <h4>Línea 1</h4>
                            <hr>
                            <h6>Estado</h6>
                            <img src="../public/img/boton-de-inicio.png" alt="" width="25px">
                            <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">
                            <p class="text-success">Encendida</p>
                            <hr>
                            <h4>Temperatura</h4>
                            <img src="../public/img/caliente.png" alt="" width="40px">
                            <img src="../../../assets/imagenes/caliente.png" width="40px">
                            <p>24°</p>
                            <hr>
                            <h4>Humedad</h4>
                            <img src="../public/img/humedad.png" alt="" width="40px">
                            <img src="../../../assets/imagenes/humedad.png" width="40px">

                            <p>16%</p>
                            <hr>
                            <div class="row">
                                <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                        value="Activar/desactivar"></div>
                                <div class="col-12 p-3"><a href="#" class="btn btn-primary btn-block">Ver
                                        estadísticas</a></div>
                            </div>
                        </div>
                        <div class="col-3 mt-3 text-center border-right">
                            <h4>Línea 2</h4>
                            <hr>
                            <h6>Estado</h6>
                            <img src="../public/img/boton-de-inicio.png" alt="" width="25px">
                            <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">

                            <p class="text-success">Encendida</p>
                            <hr>
                            <h4>Temperatura</h4>
                            <img src="../public/img/caliente.png" alt="" width="40px">
                            <img src="../../../assets/imagenes/caliente.png" width="40px">
                            <p>26°</p>
                            <hr>
                            <h4>Humedad</h4>
                            <img src="../public/img/humedad.png" alt="" width="40px">
                            <img src="../../../assets/imagenes/humedad.png" width="40px">
                            <p>13%</p>
                            <hr>
                            <div class="row">
                                <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                        value="Activar/desactivar"></div>
                                <div class="col-12 p-3"><a href="#" class="btn btn-primary btn-block">Ver
                                        estadísticas</a></div>
                            </div>
                        </div>
                        <div class="col-3 mt-3 text-center border-right">
                            <h4>Línea 3</h4>
                            <hr>
                            <h6>Estado</h6>
                            <img src="../public/img/boton-de-inicio.png" alt="" width="25px">
                            <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">

                            <p class="text-danger">Apagada</p>
                            <hr>
                            <h4>Temperatura</h4>
                            <img src="../public/img/caliente.png" alt="" width="40px">
                            <img src="../../../assets/imagenes/caliente.png" width="40px">
                            <p>32°</p>
                            <hr>
                            <h4>Humedad</h4>
                            <img src="../public/img/humedad.png" alt="" width="40px">
                            <img src="../../../assets/imagenes/humedad.png" width="40px">
                            <p>9%</p>
                            <hr>
                            <div class="row">
                                <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                        value="Activar/desactivar"></div>
                                <div class="col-12 p-3"><a href="#" class="btn btn-primary btn-block">Ver
                                        estadísticas</a></div>
                            </div>
                        </div>
                        <div class="col-3 mt-3 text-center border-right">
                            <h4>Línea 4</h4>
                            <hr>
                            <h6>Estado</h6>
                            <img src="../public/img/boton-de-inicio.png" alt="" width="25px">
                            <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">

                            <p class="text-warning">Peligro</p>
                            <hr>
                            <h4>Temperatura</h4>
                            <img src="../public/img/caliente.png" alt="" width="40px">
                            <img src="../../../assets/imagenes/energia.png" width="40px">
                            <p>39°</p>
                            <hr>
                            <h4>Humedad</h4>
                            <img src="../public/img/humedad.png" alt="" width="40px">
                            <img src="../../../assets/imagenes/humedad.png" width="40px">
                            <p>1%</p>
                            <hr>
                            <div class="row">
                                <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                        value="Activar/desactivar"></div>
                                <div class="col-12 p-3"><a href="#" class="btn btn-primary btn-block">Ver
                                        estadísticas</a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Si el usuario no está logueado, esta será la sección mostrada -->
<ng-template #home>
    <!-- Se usan estilos dentro del html por facilidad y comodidad del desarrollador, esto no genera malas prácticas ni tampoco errores -->
    <style>
        .rounded-5 {
            border-radius: 2rem;
        }

        .card-cover {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <!-- Contenedor de la página principal, con enlace a iniciar sesión, registrarse y servicios -->
    <main class="vh-100 text-center d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 shadow-lg rounded-5 p-5">
                    <!-- Se hace el llamado del logo de ViveRegistro en su versión obscura -->
                    <img src="../../assets/logo/logo-dark.svg" alt="Ejemplo de VR" style="width: 65px;">
                    <h1 class="display-6 fw-bold">
                        ¿Quieres controlar los datos de tus plantas?
                    </h1>
                    <p class="fs-4">
                        Regístrate y haz parte de esta y muchas mas funciones
                    </p>
                    <div class="mb-2">
                        <!-- Botón que tiene como ruta el login -->
                        <a class="btn btn-primary px-3 rounded-3 mx-1" routerLink="/login">
                            <span>
                                <img src="../../../assets/imagenes/iniciar-sesion.png" class="mr-1" alt="" width="20px">
                                Iniciar sesión
                            </span>
                        </a>
                        <!-- Botón que tiene como ruta el registro -->
                        <a class="btn btn-dark px-3 rounded-3 mx-1" routerLink="/register">
                            <span>
                                <img src="../../../assets/imagenes/registrarse.png" class="mr-1" alt="" width="20px">
                                Regístrate
                            </span>
                        </a>
                    </div>
                    <div class="mt-4">
                        <a class="text-primary" href="/home#services">
                            Servicios
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="vh-auto text-center d-flex justify-content-center align-items-center"
        style="background-color: #151516;" id="services">
        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-12 text-white p-5">
                    <!-- Se hace el llamado del logo de ViveRegistro en su versión blanco -->
                    <img src="../../assets/logo/logo-light.svg" alt="Ejemplo de VR" style="width: 35px;">
                    <h1 class="display-5 fw-bold">
                        Servicios
                    </h1>
                    <p class="fs-5 text-secondary">
                        Un buen manejo de los datos de tus plantas puede ser de ayuda.
                    </p>
                </div>
            </div>
            <!-- Fila de servicios que ViveRegistro presta a sus usuarios -->
            <div class="row g-3">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="p-4 card-cover d-flex align-items-center justify-content-center text-white shadow-lg bg-info rounded-5"
                        style="background-image: url('../../assets/images/services/s1.png'); height: 270px;">
                        <div class="">
                            <h1 class="display-6 fw-bold">
                                Controla la temperatura
                            </h1>
                            <span class="fs-6">
                                A medida que vaya subiendo la temperatura de tus plantas, se te avisará
                                para reducirla y apasiguar el calor.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="p-4 card-cover d-flex align-items-center justify-content-center text-white shadow-lg bg-info rounded-5"
                        style="background-image: url('../../assets/images/services/s2.png'); height: 270px;">
                        <div class="">
                            <h1 class="display-6 fw-bold">
                                Genera empleo
                            </h1>
                            <span class="fs-6">
                                Con esta plataforma puedes registrar usuarios para que puedan ejercer su
                                labor como jardineros dentro de su sistema.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="p-4 card-cover d-flex align-items-center justify-content-center text-white shadow-lg bg-info rounded-5"
                        style="background-image: url('../../assets/images/services/s3.png'); height: 270px;">
                        <div class="">
                            <h1 class="display-6 fw-bold">
                                Alto rendimiento
                            </h1>
                            <span class="fs-6">
                                Este aplicativo se usa en la web con el fin de que no tengas que
                                descargar nada y dando buena experiencia al usarlo.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pie de página, sección donde se describen las caracterísitcas, rutas y tecnologías que tiene ViveRegistro -->
    <footer>
        <div class="text-center rounded-0" style="background-color: #151516;">
            <div class="text-white bg-transparent">
                Características
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 my-3">
                                <ul class="text-start text-white">
                                    <li class="list-unstyled">
                                        <span class="fs-5 fw-bold">
                                            Tecnologías
                                        </span>
                                    </li>
                                    <hr class="w-50">
                                    <li>
                                        Angular
                                    </li>
                                    <li>
                                        Firebase
                                    </li>
                                    <li>
                                        MySQL
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 my-3">
                                <ul class="text-start text-white">
                                    <li class="list-unstyled">
                                        <span class="fs-5 fw-bold">
                                            Rutas
                                        </span>
                                    </li>
                                    <hr class="w-50">
                                    <li>
                                        <a class="text-white" routerLink="/home">
                                            Inicio
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-white" routerLink="/login">
                                            Iniciar sesión
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-white" routerLink="/register">
                                            Registrarse
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 my-3">
                                <ul class="text-start text-white">
                                    <li class="list-unstyled">
                                        <span class="fs-5 fw-bold">
                                            Contacto
                                        </span>
                                    </li>
                                    <hr class="w-50">
                                    <li>
                                        viveregistro.contacto@gmail.com
                                    </li>
                                    <li>
                                        01800045561499
                                    </li>
                                    <li>
                                        Medellín, Colombia
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Derechos de autor, el símbolo &copy; es la representación del icono de copyright -->
            <div class="card-footer text-muted">
                &copy; 2021 todo los derechos reservados.
            </div>
        </div>
    </footer>

</ng-template>