<div class="card mt-5" *ngIf="user$ | async as user; else loading">
  <div class="card-body">
    <h3 class="card-title text-center">Estas ha un solo paso | confirma tu correo para registrarte</h3>
    <div class="form-group mt-2">
      <p class="text-center">
        Te hemos enviado el link de restablecimiento al correo: <strong>{{ user?.email }}</strong> donde podras terminar tu registro
      </p>
      <p class="text-center">
        Por favor, revisa tu correo y haz click en el enlace enviado.
      </p>
    </div>
    <div class="form-group text-center mt-5">
      <button class="btn btn-primary mr-4" (click)="onSendEmail()">
        Enviar de nuevo
      </button>
      <button class="btn btn-secondary " [routerLink]="['/register']">
        Presiona cuando hayas hecho la verificación
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  Cargando...
</ng-template>
