header{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 36, 36, 1);
    color: white;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    outline: none;
}
