<div class="dropdown mt-5 d-inline-block">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
      Tipo De Grafica
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      
      <form [formGroup] = "sensorForm">
        <li class="dropdown-item dropdown-submenu">
          <a data-toggle="dropdown" class="dropdown-toggle">Radar</a>
          <ul class="dropdown-menu" >
              <li class="dropdown-item" *ngFor="let sensor of sensores">
                <a formControlName="idSensor" (click)="radar()" [routerLink]="['/graficasHumedad', 'radar', sensor.idSensorH]">sensor: {{sensor.idSensorH}}</a>
              </li>
            </ul>
        </li>
        <li class="dropdown-item dropdown-submenu">
          <a data-toggle="dropdown" class="dropdown-toggle">Lineal</a>
          <ul class="dropdown-menu">
              <li class="dropdown-item" *ngFor="let sensor of sensores">
                  <a (click)="line()" [routerLink]="['/graficasHumedad', 'line', sensor.idSensorH]">sensor: {{sensor.idSensorH}}</a>
              </li>
          </ul>
        </li>
        <li class="dropdown-item dropdown-submenu">
          <a data-toggle="dropdown" class="dropdown-toggle">Bar</a>
          <ul class="dropdown-menu" >
              <li class="dropdown-item" *ngFor="let sensor of sensores">
                  <a (click)="bar()" [routerLink]="['/graficasHumedad', 'bar', sensor.idSensorH]" >sensor: {{sensor.idSensorH}}</a>
              </li>
          </ul>
        </li>
      </form>
      </ul>
</div>
