<section class="container">
  <section class="one">
   <div class="logo">
     <img src="https://image.flaticon.com/icons/svg/143/143361.svg">
   </div>
   <h2 class="heading">
     Recuperar contraseña
   </h2>
   <p> Escribe tu correo 
   </p>
     <input type="email" class="form-control mr-4" [formControl]="userEmail" required><br/>
     <button class="btn mr-2" (click)="onReset()">
       Enviar 
     </button>
     <button class="btn btn-danger mt-3 mr-2" role="button" [routerLink]="['/login']" >
      Volver
    </button>
   </section>
 </section>

