<style>
   .rounded-5 {
      border-radius: 2rem;
   }
</style>
<div class="d-flex justify-content-center text-center mt-5">
   <div class="rounded-5 shadow-lg p-4">
      <div class="row">
         <div class="col-12">
            <div class="row">
               <div class="col-12">
                  <img src="../../../assets/logo/logo-dark.svg" alt="" style="width: 35px;">
                  <h1 class="display-6 fw-bold">
                     Recuperar contraseña
                  </h1>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <p class="text-secondary">
                     Para recuperar tu contraseña, debes ingresar tu correo.
                  </p>
               </div>
            </div>
            <div class="row">
               <div class="col-12 my-2">
                  <input type="email" class="form-control" [formControl]="userEmail" required
                     >
               </div>
               <div class="col-12">
                  <button class="btn btn-primary mt-2 mb-3 btn-sm rounded-pill py-2 px-4 w-50 mr-2"
                     (click)="onReset()">
                     Enviar
                  </button>
               </div>
               <div class="col-12">
                  <a class="p-0" style="text-decoration: none;" role="button" [routerLink]="['/login']">
                     Volver
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- <section class="container">
  <section class="one">
   <div class="logo">
     <img src="https://image.flaticon.com/icons/svg/143/143361.svg">
   </div>
   <h2 class="heading">
     Recuperar contraseña
   </h2>
   <p> Escribe tu correo 
   </p>
     <input type="email" class="form-control mr-4" [formControl]="userEmail" required><br/>
     <button class="btn mr-2" (click)="onReset()">
       Enviar 
     </button>
     <button class="btn btn-danger mt-3 mr-2" role="button"z [routerLink]="['/login']" >
      Volver
    </button>
   </section>
 </section>
 -->