<div class="container-fluid mt-5" *ngIf="user$ | async as user; else home">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-3 border">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4>Información</h4>
                        </div>
                        <div class="col-12 mt-3 text-center border-bottom">
                            <h4>Tanque</h4>
                            <!-- <img src="../public/img/deposito-de-agua.png" alt="" width="50px"> -->
                            <img src="../../../assets/imagenes/deposito-de-agua.png" width="50px">

                            <p>97%</p>
                        </div>
                        <div class="col-12 mt-3 text-center border-bottom">
                            <h4>Válvula</h4>
                            <!-- <img src="../public/img/gas.png" alt="" width="50px"> -->
                            <img src="../../../assets/imagenes/gas.png" width="50px">
                            <p class="text-success">Encendida</p>
                        </div>
                        <div class="col-12 mt-3 text-center border-bottom">
                            <h4>Energía</h4>
                            <!-- <img src="../public/img/energia.png" alt="" width="50px"> -->
                            <img src="../../../assets/imagenes/energia.png" width="50px">

                            <p class="text-success">Encendida</p>
                        </div>
                        <div class="col-12 mt-3 text-center border-bottom">
                            <h4>Pánel solar</h4>
                            <!-- <img src="../public/img/poder.png" alt="" width="50px"> -->
                            <img src="../../../assets/imagenes/poder.png" width="50px">

                            <p class="text-success">Encendida</p>
                        </div>
                        <div class="col-12 mt-3 text-center mb-2">
                            <div class="row">
                                <div class="col-12">
                                    <a class="btn btn-danger">Off</a>
                                    <a class="btn btn-info">Corriente</a>
                                    <a class="btn btn-danger">Stop</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9 border">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4>Estado de las líneas de riego</h4>
                            <hr>
                        </div>
                        <div class="col-3 mt-3 text-center border-right">
                            <h4>Línea 1</h4>
                            <hr>
                            <h6>Estado</h6>
                            <!-- <img src="../public/img/boton-de-inicio.png" alt="" width="25px"> -->
                            <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">
                            <p class="text-success">Encendida</p>
                            <hr>
                            <h4>Temperatura</h4>
                            <!-- <img src="../public/img/caliente.png" alt="" width="40px"> -->
                            <img src="../../../assets/imagenes/caliente.png" width="40px">
                            <p>24°</p>
                            <hr>
                            <h4>Humedad</h4>
                            <!-- <img src="../public/img/humedad.png" alt="" width="40px"> -->
                            <img src="../../../assets/imagenes/humedad.png" width="40px">

                            <p>16%</p>
                            <hr>
                            <div class="row">
                                <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                        value="Activar/desactivar"></div>
                                <div class="col-12 p-3"><a href="#" class="btn btn-primary btn-block">Ver
                                        estadísticas</a></div>
                            </div>
                        </div>
                        <div class="col-3 mt-3 text-center border-right">
                            <h4>Línea 2</h4>
                            <hr>
                            <h6>Estado</h6>
                            <!-- <img src="../public/img/boton-de-inicio.png" alt="" width="25px"> -->
                            <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">

                            <p class="text-success">Encendida</p>
                            <hr>
                            <h4>Temperatura</h4>
                            <!-- <img src="../public/img/caliente.png" alt="" width="40px"> -->
                            <img src="../../../assets/imagenes/caliente.png" width="40px">
                            <p>26°</p>
                            <hr>
                            <h4>Humedad</h4>
                            <!-- <img src="../public/img/humedad.png" alt="" width="40px"> -->
                            <img src="../../../assets/imagenes/humedad.png" width="40px">
                            <p>13%</p>
                            <hr>
                            <div class="row">
                                <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                        value="Activar/desactivar"></div>
                                <div class="col-12 p-3"><a href="#" class="btn btn-primary btn-block">Ver
                                        estadísticas</a></div>
                            </div>
                        </div>
                        <div class="col-3 mt-3 text-center border-right">
                            <h4>Línea 3</h4>
                            <hr>
                            <h6>Estado</h6>
                            <!-- <img src="../public/img/boton-de-inicio.png" alt="" width="25px"> -->
                            <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">

                            <p class="text-danger">Apagada</p>
                            <hr>
                            <h4>Temperatura</h4>
                            <!-- <img src="../public/img/caliente.png" alt="" width="40px"> -->
                            <img src="../../../assets/imagenes/caliente.png" width="40px">
                            <p>32°</p>
                            <hr>
                            <h4>Humedad</h4>
                            <!-- <img src="../public/img/humedad.png" alt="" width="40px"> -->
                            <img src="../../../assets/imagenes/humedad.png" width="40px">
                            <p>9%</p>
                            <hr>
                            <div class="row">
                                <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                        value="Activar/desactivar"></div>
                                <div class="col-12 p-3"><a href="#" class="btn btn-primary btn-block">Ver
                                        estadísticas</a></div>
                            </div>
                        </div>
                        <div class="col-3 mt-3 text-center border-right">
                            <h4>Línea 4</h4>
                            <hr>
                            <h6>Estado</h6>
                            <!-- <img src="../public/img/boton-de-inicio.png" alt="" width="25px"> -->
                            <img src="../../../assets/imagenes/boton-de-inicio.png" width="25px">

                            <p class="text-warning">Peligro</p>
                            <hr>
                            <h4>Temperatura</h4>
                            <!-- <img src="../public/img/caliente.png" alt="" width="40px"> -->
                            <img src="../../../assets/imagenes/energia.png" width="40px">
                            <p>39°</p>
                            <hr>
                            <h4>Humedad</h4>
                            <!-- <img src="../public/img/humedad.png" alt="" width="40px"> -->
                            <img src="../../../assets/imagenes/humedad.png" width="40px">
                            <p>1%</p>
                            <hr>
                            <div class="row">
                                <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                        value="Activar/desactivar"></div>
                                <div class="col-12 p-3"><a href="#" class="btn btn-primary btn-block">Ver
                                        estadísticas</a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #home>
    <style>
        .rounded-5 {
            border-radius: 2rem;
        }

        .card-cover {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <main class="vh-100 text-center d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 shadow-lg rounded-5 p-5">
                    <img src="../../assets/logo/logo-dark.svg" alt="Ejemplo de VR" style="width: 65px;">
                    <h1 class="display-6 fw-bold">
                        ¿Quieres controlar los datos de tus plantas?
                    </h1>
                    <p class="fs-4">
                        Regístrate y haz parte de esta y muchas mas funciones.
                    </p>
                    <div class="mb-2">
                        <a class="btn btn-primary px-3 rounded-3 mx-1" routerLink="/login">
                            <span>
                                <i class="fas fa-sign-in-alt text-white me-1"></i>
                                Iniciar sesión
                            </span>
                        </a>
                        <a class="btn btn-dark px-3 rounded-3 mx-1" routerLink="/register">
                            <span>
                                <i class="fas fa-user-plus text-white me-1"></i>
                                Regístrate
                            </span>
                        </a>
                    </div>
                    <div class="mt-4">
                        <a class="text-primary" href="#servicios">
                            Servicios
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="vh-auto text-center d-flex justify-content-center align-items-center"
        style="background-color: #151516;" id="servicios">
        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-12 text-white p-5">
                    <img src="../../assets/logo/logo-light.svg" alt="Ejemplo de VR" style="width: 35px;">
                    <h1 class="display-5 fw-bold">
                        Servicios
                    </h1>
                    <p class="fs-5 text-secondary">
                        Un buen manejo de los datos de tus plantas puede ser de ayuda.
                    </p>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="p-4 card-cover d-flex align-items-center justify-content-center text-white shadow-lg bg-info rounded-5"
                        style="background-image: url('../../assets/images/services/s1.png'); height: 270px;">
                        <div class="">
                            <h1 class="display-6 fw-bold">
                                Controla la temperatura
                            </h1>
                            <span class="fs-6">
                                A medida que vaya subiendo la temperatura de tus plantas, se te avisará
                                para reducirla y apasiguar el calor.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="p-4 card-cover d-flex align-items-center justify-content-center text-white shadow-lg bg-info rounded-5"
                        style="background-image: url('../../assets/images/services/s2.png'); height: 270px;">
                        <div class="">
                            <h1 class="display-6 fw-bold">
                                Genera empleo
                            </h1>
                            <span class="fs-6">
                                Con esta plataforma puedes registrar usuarios para que puedan ejercer su
                                labor como jardineros dentro de su sistema.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="p-4 card-cover d-flex align-items-center justify-content-center text-white shadow-lg bg-info rounded-5"
                        style="background-image: url('../../assets/images/services/s3.png'); height: 270px;">
                        <div class="">
                            <h1 class="display-6 fw-bold">
                                Alto rendimiento
                            </h1>
                            <span class="fs-6">
                                Este aplicativo se usa en la web con el fin de que no tengas que
                                descargar nada y dando buena experiencia al usarlo.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="text-center rounded-0" style="background-color: #151516;">
            <div class="text-white bg-transparent">
                Características
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 my-3">
                                <ul class="text-start text-white">
                                    <li class="list-unstyled">
                                        <span class="fs-5 fw-bold">
                                            Tecnologías
                                        </span>
                                    </li>
                                    <hr class="w-50">
                                    <li>
                                        Angular
                                    </li>
                                    <li>
                                        Firebase
                                    </li>
                                    <li>
                                        MySQL
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 my-3">
                                <ul class="text-start text-white">
                                    <li class="list-unstyled">
                                        <span class="fs-5 fw-bold">
                                            Rutas
                                        </span>
                                    </li>
                                    <hr class="w-50">
                                    <li>
                                        <a class="text-white" routerLink="/home">
                                            Inicio
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-white" routerLink="/login">
                                            Iniciar sesión
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-white" routerLink="/register">
                                            Registrarse
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 my-3">
                                <ul class="text-start text-white">
                                    <li class="list-unstyled">
                                        <span class="fs-5 fw-bold">
                                            Contacto
                                        </span>
                                    </li>
                                    <hr class="w-50">
                                    <li>
                                        viveregistro.contacto@gmail.com
                                    </li>
                                    <li>
                                        01800045561499
                                    </li>
                                    <li>
                                        Medellín, Colombia
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                &copy; 2021 todo los derechos reservados.
            </div>
        </div>
    </footer>

</ng-template>